* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    color: #fff;
    font-weight: 300;
    background-color: #111;
    overflow-x: hidden;
}

#parallax__title {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
}

#parallax__title h1 {
    font-size: 30px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    display: inline-block;
}

#parallax__title p {
    font-size: 16px;
}

#parallax__title ul {
    margin-top: 10px;
}

#parallax__title li {
    display: inline;
}

#parallax__title li a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px dashed #fff;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

#parallax__title li.active a {
    background: #fff;
    color: #000;
}

//gsap01
#parallax__cont_01 {
    /* parallax__cont */
    #parallax__cont {
        overflow: hidden;
    }

    .parallax__item {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .parallax__item:nth-child(2n) {
        background-color: #222;
    }

    .parallax__item__num {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 5vw;
        line-height: 1;
    }

    .parallax__item__img {
        width: 10vw;
        height: 10vw;
        background-color: #fff;
        background-size: cover;
        background-position: center;
    }

    .parallax__item:nth-child(1) .parallax__item__img {
        background-image: url(./../img/images14.jpg);
    }

    .parallax__item:nth-child(2) .parallax__item__img {
        background-image: url(./../img/images15.jpg);
    }

    .parallax__item:nth-child(3) .parallax__item__img {
        background-image: url(./../img/images03.jpg);
    }

    .parallax__item:nth-child(4) .parallax__item__img {
        background-image: url(./../img/images04.jpg);
    }

    .parallax__item:nth-child(5) .parallax__item__img {
        background-image: url(./../img/images05.jpg);
    }

    .parallax__item:nth-child(6) .parallax__item__img {
        background-image: url(./../img/images06.jpg);
    }

    .parallax__item:nth-child(7) .parallax__item__img {
        background-image: url(./../img/images07.jpg);
    }

    .parallax__item:nth-child(8) .parallax__item__img {
        background-image: url(./../img/images08.jpg);
    }

    .parallax__item:nth-child(9) .parallax__item__img {
        background-image: url(./../img/images09.jpg);
    }

    .parallax__item__img.active {
        filter: hue-rotate(100deg);
    }
}
//gsap02
#parallax__cont_02 {
    /* parallax__cont */
    #parallax__cont {
        overflow: hidden;
    }

    .parallax__item {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #section2,
    #section4,
    #section6,
    #section8 {
        background-color: #222;
    }

    .parallax__item__num {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 5vw;
        line-height: 1;
    }

    .parallax__item__img {
        width: 10vw;
        height: 10vw;
        margin: 1vw;
        background-color: #fff;
        background-size: cover;
        background-position: center;
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images14.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images15.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09.jpg);
    }

    /* option */
    #section3 .parallax__item__img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

    #section5 {
        flex-direction: column;
    }

    #section5 .parallax__item__text,
    #section6 .parallax__item__text {
        font-size: 5vw;
        text-transform: uppercase;
        font-weight: bold;
    }

    #section7 .parallax__item__text {
        font-size: 5vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #111;
        padding: 30px;
        width: 100%;
        text-align: center;
    }

    #section8 {
        flex-direction: column;
    }

    #section8 .parallax__item__text {
        font-size: 2vw;
        line-height: 1.5;
        text-transform: uppercase;
    }

    #section8 .parallax__item__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    #section9 .parallax__item__img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}
//gsap03
#parallax__cont_03 {
    /* parallax__cont */
    #parallax__cont {
        overflow: hidden;
    }

    .parallax__item {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #section2,
    #section4,
    #section6,
    #section8 {
        background-color: #222;
    }

    .parallax__item__num {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 3vw;
        line-height: 1;
        z-index: 10;
    }

    .parallax__item__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        background-size: cover;
        background-position: center;
    }

    .parallax__item__img::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images10@2.jpg);
    }

    .parallax__item__title {
        font-size: 5vw;
        z-index: 100;
        text-transform: uppercase;
        display: inline-block;
    }
}
//gsap04
#parallax__cont_04 {
    max-width: 1600px;
    width: 98%;
    margin: 0 auto;
    /* background-color: rgba(255,255,255,0.1); */

    .parallax__item {
        width: 1000px;
        max-width: 70vw;
        margin: 30vw auto;
        /* background-color: rgba(255,255,255,0.3); */
        text-align: left;
        margin-right: 0;
        position: relative;
        padding-top: 15vw;
    }

    .parallax__item:nth-child(even) {
        margin-left: 0;
        text-align: right;
    }

    .parallax__item__num {
        font-size: 35vw;
        position: absolute;
        left: -5vw;
        top: -13vw;
        opacity: 0.07;
        font-family: "Lato";
        font-weight: 100;
    }

    .parallax__item:nth-child(even) .parallax__item__num {
        left: auto;
        right: -5vw;
    }

    .parallax__item__title {
        padding-bottom: 5px;
        font-weight: 400;
    }

    .parallax__item__imgWrap {
        width: 100%;
        padding-bottom: 56.25%;
        background: #000;
        position: relative;
        overflow: hidden;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    .parallax__item__desc {
        font-size: 4vw;
        line-height: 1.4;
        margin-top: -5vw;
        margin-left: -4vw;
        z-index: 100;
        position: relative;
        word-break: keep-all;
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        margin-left: auto;
        margin-right: -4vw;
    }
}
//gsap05
#parallax__cont_05 {
    /* parallax__cont */
    #parallax__cont {
        max-width: 1600px;
        width: 98%;
        margin: 0 auto;
        /* background-color: rgba(255,255,255,0.1); */
    }

    .parallax__item {
        width: 1000px;
        max-width: 70vw;
        margin: 30vw auto;
        /* background-color: rgba(255,255,255,0.3); */
        text-align: left;
        margin-right: 0;
        position: relative;
        padding-top: 15vw;
    }

    .parallax__item:nth-child(even) {
        margin-left: 0;
        text-align: right;
    }

    .parallax__item__num {
        font-size: 35vw;
        position: absolute;
        left: -5vw;
        top: -13vw;
        opacity: 0.07;
        font-family: "Lato";
        font-weight: 100;
    }

    .parallax__item:nth-child(even) .parallax__item__num {
        left: auto;
        right: -5vw;
    }

    .parallax__item__title {
        padding-bottom: 5px;
        font-weight: 400;
    }

    .parallax__item__imgWrap {
        width: 100%;
        padding-bottom: 56.25%;
        background: #000;
        position: relative;
        overflow: hidden;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    .parallax__item__desc {
        font-size: 4vw;
        line-height: 1.4;
        margin-top: -5vw;
        margin-left: -4vw;
        z-index: 100;
        position: relative;
        word-break: keep-all;
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        margin-left: auto;
        margin-right: -4vw;
    }
}
//gsap06
#parallax__cont_06 {
    /* parallax__cont */
    #parallax__cont {
        max-width: 1600px;
        width: 98%;
        margin: 0 auto;
        /* background-color: rgba(255,255,255,0.1); */
    }

    .parallax__item {
        width: 1000px;
        max-width: 70vw;
        margin: 30vw auto;
        /* background-color: rgba(255,255,255,0.3); */
        text-align: left;
        margin-right: 0;
        position: relative;
        padding-top: 15vw;
    }

    .parallax__item:nth-child(even) {
        margin-left: 0;
        text-align: right;
    }

    .parallax__item__num {
        font-size: 35vw;
        position: absolute;
        left: -5vw;
        top: -13vw;
        opacity: 0.07;
        font-family: "Lato";
        font-weight: 100;
    }

    .parallax__item:nth-child(even) .parallax__item__num {
        left: auto;
        right: -5vw;
    }

    .parallax__item__title {
        padding-bottom: 5px;
        font-weight: 400;
    }

    .parallax__item__imgWrap {
        width: 100%;
        padding-bottom: 56.25%;
        background: #000;
        position: relative;
        overflow: hidden;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    .parallax__item__desc {
        font-size: 4vw;
        line-height: 1.4;
        margin-top: -5vw;
        margin-left: -4vw;
        z-index: 100;
        position: relative;
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        margin-left: auto;
        margin-right: -4vw;
    }

    /* option*/
    .split > span {
        display: inline-block;
    }
}
//gsap07
#parallax__cont_07 {
    /* parallax__cont */
    #parallax__cont {
        width: 100%;
    }

    .parallax__item {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .parallax__item__num {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 1vw;
    }

    .parallax__item__imgWrap {
        width: 50%;
        margin-right: 30%;
        padding-bottom: 26.25%;
        background: #000;
        position: relative;
        overflow: hidden;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    .parallax__item__desc {
        font-size: 3vw;
        line-height: 1.4;
        margin-top: 10vw;
        margin-left: -4vw;
        margin-right: 2vw;
        z-index: 100;
        position: absolute;
        left: 50%;
        top: 50%;
        word-break: keep-all;
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }
}
//gsap08
#parallax__cont_08 {
    /* parallax__cont */
    #parallax__cont {
        max-width: 1600px;
        width: 98%;
        margin: 0 auto;
        /* background-color: rgba(255,255,255,0.1); */
    }

    .parallax__item {
        width: 1000px;
        max-width: 70vw;
        margin: 30vw auto;
        /* background-color: rgba(255,255,255,0.3); */
        text-align: left;
        margin-right: 0;
        position: relative;
        padding-top: 15vw;
    }

    .parallax__item:nth-child(even) {
        margin-left: 0;
        text-align: right;
    }

    .parallax__item__num {
        font-size: 35vw;
        position: absolute;
        left: -5vw;
        top: -13vw;
        opacity: 0.07;
        font-family: "Lato";
        font-weight: 100;
    }

    .parallax__item:nth-child(even) .parallax__item__num {
        left: auto;
        right: -5vw;
    }

    .parallax__item__title {
        padding-bottom: 5px;
        font-weight: 400;
    }

    .parallax__item__imgWrap {
        width: 100%;
        padding-bottom: 56.25%;
        background: #000;
        position: relative;
        overflow: hidden;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    .parallax__item__desc {
        font-size: 4vw;
        line-height: 1.4;
        margin-top: -5vw;
        margin-left: -4vw;
        z-index: 100;
        position: relative;
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        margin-left: auto;
        margin-right: -4vw;
    }
}
// gsap08 progress
.parallax__progress progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    appearance: none;
    width: 100%;
    height: 5px;
    border: none;
    background: transparent;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
}

progress::-moz-progress-bar {
    background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
    background-attachment: fixed;
}
//gsap09
#parallax__cont_09 {
    /* parallax__cont */
    #parallax__cont {
        max-width: 1600px;
        width: 98%;
        margin: 0 auto;
    }

    .parallax__item {
        width: 1000px;
        max-width: 70vw;
        margin: 30vw auto;
        text-align: left;
        margin-right: 0;
        position: relative;
        padding-top: 15vw;
    }

    .parallax__item:nth-child(even) {
        margin-left: 0;
        text-align: right;
    }

    .parallax__item__num {
        font-size: 35vw;
        position: absolute;
        left: -5vw;
        top: -13vw;
        opacity: 0.07;
        font-family: "Lato";
        font-weight: 100;
    }

    .parallax__item:nth-child(even) .parallax__item__num {
        left: auto;
        right: -5vw;
    }

    .parallax__item__title {
        padding-bottom: 5px;
        font-weight: 400;
    }

    .parallax__item__imgWrap {
        width: 100%;
        padding-bottom: 56.25%;
        background: #000;
        position: relative;
        overflow: hidden;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    .parallax__item__desc {
        font-size: 4vw;
        line-height: 1.4;
        margin-top: -5vw;
        margin-left: -4vw;
        z-index: 100;
        position: relative;
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        margin-left: auto;
        margin-right: -4vw;
    }
}
//gsap09 nav
#parallax__nav_09 {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
    border-radius: 50px;
}
#parallax__nav_09 li {
    list-style: none;
    display: inline;
}
#parallax__nav_09 li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
}
#parallax__nav_09 li a.active {
    background: #fff;
    color: #000;
    border-radius: 50%;
}
//gsap10
#parallax__cont_10 {
    /* parallax__cont */
    #parallax__cont {
        max-width: 1600px;
        width: 98%;
        margin: 0 auto;
    }

    .parallax__item {
        width: 1000px;
        max-width: 70vw;
        margin: 30vw auto;
        text-align: left;
        margin-right: 0;
        position: relative;
        padding-top: 15vw;
    }

    .parallax__item:nth-child(even) {
        margin-left: 0;
        text-align: right;
    }

    .parallax__item__num {
        font-size: 35vw;
        position: absolute;
        left: -5vw;
        top: -13vw;
        opacity: 0.07;
        font-family: "Lato";
        font-weight: 100;
    }

    .parallax__item:nth-child(even) .parallax__item__num {
        left: auto;
        right: -5vw;
    }

    .parallax__item__title {
        padding-bottom: 5px;
        font-weight: 400;
    }

    .parallax__item__imgWrap {
        width: 100%;
        padding-bottom: 56.25%;
        background: #000;
        position: relative;
        overflow: hidden;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    .parallax__item__desc {
        font-size: 4vw;
        line-height: 1.4;
        margin-top: -5vw;
        margin-left: -4vw;
        z-index: 100;
        position: relative;
        word-break: keep-all;
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        margin-left: auto;
        margin-right: -4vw;
    }
}
//gsap10nav
#parallax__nav_10 {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
}
#parallax__nav_10 li {
    list-style: none;
    display: inline;
}
#parallax__nav_10 li a {
    display: inline-block;
    width: 80px;
    height: 30px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    transition: all 0.3s;
}
#parallax__nav_10 li a.active {
    background: #fff;
    color: #000;
    border-radius: 30px;
}
#parallax__nav_10.is-active li a {
    width: 30px;
}
//gsap11
#parallax__cont_11 {
    /* parallax__cont */
    #parallax__cont {
        max-width: 1600px;
        width: 98%;
        margin: 0 auto;
    }

    .parallax__item {
        width: 1000px;
        max-width: 70vw;
        margin: 30vw auto;
        text-align: left;
        margin-right: 0;
        position: relative;
        padding-top: 15vw;
    }

    .parallax__item:nth-child(even) {
        margin-left: 0;
        text-align: right;
    }

    .parallax__item__num {
        font-size: 35vw;
        position: absolute;
        left: -5vw;
        top: -13vw;
        opacity: 0.07;
        font-family: "Lato";
        font-weight: 100;
    }

    .parallax__item:nth-child(even) .parallax__item__num {
        left: auto;
        right: -5vw;
    }

    .parallax__item__title {
        padding-bottom: 5px;
        font-weight: 400;
    }

    .parallax__item__imgWrap {
        width: 100%;
        padding-bottom: 56.25%;
        background: #000;
        position: relative;
        overflow: hidden;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    .parallax__item__desc {
        font-size: 4vw;
        line-height: 1.4;
        margin-top: -5vw;
        margin-left: -4vw;
        z-index: 100;
        position: relative;
        word-break: keep-all;
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        margin-left: auto;
        margin-right: -4vw;
    }
}
//gsap11nav
#parallax__nav_11 {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
}
#parallax__nav_11 li {
    list-style: none;
    display: inline;
}
#parallax__nav_11 li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    transition: all 0.3s;
}
#parallax__nav_11 li a.active {
    background: #fff;
    color: #000;
    border-radius: 30px;
}
//gsap12
#parallax__cont_12 {
    // height: 100vh;
    // /* set width based on sections */
    // width: 400%;
    // display: flex;
    // flex-wrap: nowrap;

    width: 900%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    // .horizontal-section {
    //     background-color: black;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     height: 100vh;
    //     width: 100vw;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    // .horizontal-section:nth-child(1) {
    //     background-image: url("https://images.pexels.com/photos/2249527/pexels-photo-2249527.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    // }
    // .horizontal-section:nth-child(2) {
    //     background-image: url("https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    // }
    // .horizontal-section:nth-child(3) {
    //     background-image: url("https://images.pexels.com/photos/1517076/pexels-photo-1517076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    // }
    // .horizontal-section:nth-child(4) {
    //     background-image: url("https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    // }

    // .heading {
    //     font-family: "Oswald", sans-serif;
    //     font-size: 8vw;
    //     font-weight: 300;
    //     color: white;
    //     letter-spacing: 1vw;
    //     text-transform: uppercase;
    // }

    /* parallax__cont */
    .parallax__item {
        background-color: black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .parallax__item__num {
        font-size: 5vw;
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-family: "Lato";
        font-weight: 100;
        z-index: 100;
    }

    .parallax__item__imgWrap {
        width: 30%;
        padding-bottom: 18%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    #section1,
    #section3,
    #section5,
    #section7,
    #section9 {
        background-color: #111;
    }

    /* option */
    #parallax__cont {
        overscroll-behavior: none;
        width: 900%;
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        /* overflow: hidden; */
    }
}
//gsap13
#parallax__cont_13 {
    /* parallax__cont */
    .parallax__item {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .parallax__item__num {
        font-size: 5vw;
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-family: "Lato";
        font-weight: 100;
        z-index: 100;
    }

    .parallax__item__imgWrap {
        width: 30%;
        padding-bottom: 18%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    #section1,
    #section3,
    #section5,
    #section7,
    #section9 {
        background-color: #111;
    }

    /* option */
    #parallax__cont {
        overflow: hidden;
    }

    #horizontal {
        display: flex;
        flex-wrap: nowrap;
        width: 500%;
    }

    #horizontal > section {
        width: 100%;
    }
}
//gsap14
#parallax__cont_14 {
    /* parallax__cont */
    .parallax__item {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .parallax__item__num {
        font-size: 5vw;
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-family: "Lato";
        font-weight: 100;
        z-index: 100;
    }

    .parallax__item__imgWrap {
        width: 30%;
        padding-bottom: 18%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    #section1,
    #section3,
    #section5,
    #section7,
    #section9 {
        background-color: #111;
    }

    /* option */
    #parallax__cont {
        overflow: hidden;
    }

    #horizontal {
        display: flex;
        flex-wrap: nowrap;
        width: 500%;
    }

    #horizontal > section {
        width: 100%;
    }
}
//gsap15
#parallax__cont_15 {
    /* parallax__cont */
    #parallax__cont {
        max-width: 1600px;
        width: 98%;
        margin: 0 auto;
    }

    .parallax__item {
        width: 1000px;
        max-width: 70vw;
        margin: 30vw auto;
        text-align: left;
        margin-right: 0;
        position: relative;
        padding-top: 15vw;
    }

    .parallax__item:nth-child(even) {
        margin-left: 0;
        text-align: right;
    }

    .parallax__item__num {
        font-size: 35vw;
        position: absolute;
        left: -5vw;
        top: -13vw;
        opacity: 0.07;
        font-family: "Lato";
        font-weight: 100;
    }

    .parallax__item:nth-child(even) .parallax__item__num {
        left: auto;
        right: -5vw;
    }

    .parallax__item__title {
        padding-bottom: 5px;
        font-weight: 400;
    }

    .parallax__item__imgWrap {
        width: 100%;
        padding-bottom: 56.25%;
        background: #000;
        position: relative;
        overflow: hidden;
    }

    .parallax__item__img {
        position: absolute;
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        filter: saturate(0%);
        transition: all 1s;
    }

    .parallax__item__img:hover {
        filter: saturate(100%);
        transform: scale(1.025);
    }

    #section1 .parallax__item__img {
        background-image: url(./../img/images01@2.jpg);
    }

    #section2 .parallax__item__img {
        background-image: url(./../img/images02@2.jpg);
    }

    #section3 .parallax__item__img {
        background-image: url(./../img/images03@2.jpg);
    }

    #section4 .parallax__item__img {
        background-image: url(./../img/images04@2.jpg);
    }

    #section5 .parallax__item__img {
        background-image: url(./../img/images05@2.jpg);
    }

    #section6 .parallax__item__img {
        background-image: url(./../img/images06@2.jpg);
    }

    #section7 .parallax__item__img {
        background-image: url(./../img/images07@2.jpg);
    }

    #section8 .parallax__item__img {
        background-image: url(./../img/images08@2.jpg);
    }

    #section9 .parallax__item__img {
        background-image: url(./../img/images09@2.jpg);
    }

    .parallax__item__desc {
        font-size: 4vw;
        line-height: 1.4;
        margin-top: -5vw;
        margin-left: -4vw;
        z-index: 100;
        position: relative;
        word-break: keep-all;
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        margin-left: auto;
        margin-right: -4vw;
    }
}
