@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://websfont.github.io/nanumSquareNeo/nanumSquareNeo.css");
@import url("https://websfont.github.io/gmarket/gmarket.css");
.mont {
  font-family: "Montserrat";
}

.nanum {
  font-family: "nanumSquareNeo";
}

.gmarket {
  font-family: "gmarket";
}

:root {
  --mainEng-font: "Montserrat";
  --mainKor-font: "nanumSquareNeo";
  --mainNum-font: "gmarket";
  --mainBg-color: #f3ede8;
  --subBg100: #cdc0b1;
  --subBg200: #afa395;
  --subBg300: #81887c;
  --subBg400: #afa7a2;
  --subBg500: #a6afa2;
  --white: #fff;
  --black: #000;
  --black100: #2b2b2b;
  --black200: #434343;
  --black300: #686868;
  --black400: #e0e0e0;
  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    line-height: 1.4;
  }
}

body {
  background-color: var(--mainBg-color);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
table,
textarea {
  font-family: var(--mainEng-font), var(--mainKor-font), "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

strong {
  font-weight: normal;
}

img {
  vertical-align: top;
  width: 100%;
}

#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}

#skip a:focus,
#skip a:active {
  top: 10px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  color: #fff;
  font-weight: 300;
  background-color: #111;
  overflow-x: hidden;
}

#parallax__title {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

#parallax__title h1 {
  font-size: 30px;
  border-bottom: 1px dashed #fff;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 400;
  display: inline-block;
}

#parallax__title p {
  font-size: 16px;
}

#parallax__title ul {
  margin-top: 10px;
}

#parallax__title li {
  display: inline;
}

#parallax__title li a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px dashed #fff;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

#parallax__title li.active a {
  background: #fff;
  color: #000;
}

#parallax__cont_01 {
  /* parallax__cont */
}

#parallax__cont_01 #parallax__cont {
  overflow: hidden;
}

#parallax__cont_01 .parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parallax__cont_01 .parallax__item:nth-child(2n) {
  background-color: #222;
}

#parallax__cont_01 .parallax__item__num {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 5vw;
  line-height: 1;
}

#parallax__cont_01 .parallax__item__img {
  width: 10vw;
  height: 10vw;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

#parallax__cont_01 .parallax__item:nth-child(1) .parallax__item__img {
  background-image: url(./../img/images14.jpg);
}

#parallax__cont_01 .parallax__item:nth-child(2) .parallax__item__img {
  background-image: url(./../img/images15.jpg);
}

#parallax__cont_01 .parallax__item:nth-child(3) .parallax__item__img {
  background-image: url(./../img/images03.jpg);
}

#parallax__cont_01 .parallax__item:nth-child(4) .parallax__item__img {
  background-image: url(./../img/images04.jpg);
}

#parallax__cont_01 .parallax__item:nth-child(5) .parallax__item__img {
  background-image: url(./../img/images05.jpg);
}

#parallax__cont_01 .parallax__item:nth-child(6) .parallax__item__img {
  background-image: url(./../img/images06.jpg);
}

#parallax__cont_01 .parallax__item:nth-child(7) .parallax__item__img {
  background-image: url(./../img/images07.jpg);
}

#parallax__cont_01 .parallax__item:nth-child(8) .parallax__item__img {
  background-image: url(./../img/images08.jpg);
}

#parallax__cont_01 .parallax__item:nth-child(9) .parallax__item__img {
  background-image: url(./../img/images09.jpg);
}

#parallax__cont_01 .parallax__item__img.active {
  filter: hue-rotate(100deg);
}

#parallax__cont_02 {
  /* parallax__cont */
  /* option */
}

#parallax__cont_02 #parallax__cont {
  overflow: hidden;
}

#parallax__cont_02 .parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parallax__cont_02 #section2,
#parallax__cont_02 #section4,
#parallax__cont_02 #section6,
#parallax__cont_02 #section8 {
  background-color: #222;
}

#parallax__cont_02 .parallax__item__num {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 5vw;
  line-height: 1;
}

#parallax__cont_02 .parallax__item__img {
  width: 10vw;
  height: 10vw;
  margin: 1vw;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

#parallax__cont_02 #section1 .parallax__item__img {
  background-image: url(./../img/images14.jpg);
}

#parallax__cont_02 #section2 .parallax__item__img {
  background-image: url(./../img/images15.jpg);
}

#parallax__cont_02 #section3 .parallax__item__img {
  background-image: url(./../img/images03.jpg);
}

#parallax__cont_02 #section4 .parallax__item__img {
  background-image: url(./../img/images04.jpg);
}

#parallax__cont_02 #section5 .parallax__item__img {
  background-image: url(./../img/images05.jpg);
}

#parallax__cont_02 #section6 .parallax__item__img {
  background-image: url(./../img/images06.jpg);
}

#parallax__cont_02 #section7 .parallax__item__img {
  background-image: url(./../img/images07.jpg);
}

#parallax__cont_02 #section8 .parallax__item__img {
  background-image: url(./../img/images08.jpg);
}

#parallax__cont_02 #section9 .parallax__item__img {
  background-image: url(./../img/images09.jpg);
}

#parallax__cont_02 #section3 .parallax__item__img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#parallax__cont_02 #section5 {
  flex-direction: column;
}

#parallax__cont_02 #section5 .parallax__item__text,
#parallax__cont_02 #section6 .parallax__item__text {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: bold;
}

#parallax__cont_02 #section7 .parallax__item__text {
  font-size: 5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  padding: 30px;
  width: 100%;
  text-align: center;
}

#parallax__cont_02 #section8 {
  flex-direction: column;
}

#parallax__cont_02 #section8 .parallax__item__text {
  font-size: 2vw;
  line-height: 1.5;
  text-transform: uppercase;
}

#parallax__cont_02 #section8 .parallax__item__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#parallax__cont_02 #section9 .parallax__item__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#parallax__cont_03 {
  /* parallax__cont */
}

#parallax__cont_03 #parallax__cont {
  overflow: hidden;
}

#parallax__cont_03 .parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#parallax__cont_03 #section2,
#parallax__cont_03 #section4,
#parallax__cont_03 #section6,
#parallax__cont_03 #section8 {
  background-color: #222;
}

#parallax__cont_03 .parallax__item__num {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 3vw;
  line-height: 1;
  z-index: 10;
}

#parallax__cont_03 .parallax__item__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

#parallax__cont_03 .parallax__item__img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#parallax__cont_03 #section1 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_03 #section2 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_03 #section3 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_03 #section4 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_03 #section5 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_03 #section6 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_03 #section7 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_03 #section8 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_03 #section9 .parallax__item__img {
  background-image: url(./../img/images10@2.jpg);
}

#parallax__cont_03 .parallax__item__title {
  font-size: 5vw;
  z-index: 100;
  text-transform: uppercase;
  display: inline-block;
}

#parallax__cont_04 {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
  /* background-color: rgba(255,255,255,0.1); */
}

#parallax__cont_04 .parallax__item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  /* background-color: rgba(255,255,255,0.3); */
  text-align: left;
  margin-right: 0;
  position: relative;
  padding-top: 15vw;
}

#parallax__cont_04 .parallax__item:nth-child(even) {
  margin-left: 0;
  text-align: right;
}

#parallax__cont_04 .parallax__item__num {
  font-size: 35vw;
  position: absolute;
  left: -5vw;
  top: -13vw;
  opacity: 0.07;
  font-family: "Lato";
  font-weight: 100;
}

#parallax__cont_04 .parallax__item:nth-child(even) .parallax__item__num {
  left: auto;
  right: -5vw;
}

#parallax__cont_04 .parallax__item__title {
  padding-bottom: 5px;
  font-weight: 400;
}

#parallax__cont_04 .parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#parallax__cont_04 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_04 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_04 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_04 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_04 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_04 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_04 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_04 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_04 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_04 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_04 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_04 .parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
  word-break: keep-all;
}

#parallax__cont_04 .parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}

#parallax__cont_05 {
  /* parallax__cont */
}

#parallax__cont_05 #parallax__cont {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
  /* background-color: rgba(255,255,255,0.1); */
}

#parallax__cont_05 .parallax__item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  /* background-color: rgba(255,255,255,0.3); */
  text-align: left;
  margin-right: 0;
  position: relative;
  padding-top: 15vw;
}

#parallax__cont_05 .parallax__item:nth-child(even) {
  margin-left: 0;
  text-align: right;
}

#parallax__cont_05 .parallax__item__num {
  font-size: 35vw;
  position: absolute;
  left: -5vw;
  top: -13vw;
  opacity: 0.07;
  font-family: "Lato";
  font-weight: 100;
}

#parallax__cont_05 .parallax__item:nth-child(even) .parallax__item__num {
  left: auto;
  right: -5vw;
}

#parallax__cont_05 .parallax__item__title {
  padding-bottom: 5px;
  font-weight: 400;
}

#parallax__cont_05 .parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#parallax__cont_05 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_05 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_05 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_05 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_05 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_05 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_05 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_05 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_05 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_05 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_05 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_05 .parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
  word-break: keep-all;
}

#parallax__cont_05 .parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}

#parallax__cont_06 {
  /* parallax__cont */
  /* option*/
}

#parallax__cont_06 #parallax__cont {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
  /* background-color: rgba(255,255,255,0.1); */
}

#parallax__cont_06 .parallax__item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  /* background-color: rgba(255,255,255,0.3); */
  text-align: left;
  margin-right: 0;
  position: relative;
  padding-top: 15vw;
}

#parallax__cont_06 .parallax__item:nth-child(even) {
  margin-left: 0;
  text-align: right;
}

#parallax__cont_06 .parallax__item__num {
  font-size: 35vw;
  position: absolute;
  left: -5vw;
  top: -13vw;
  opacity: 0.07;
  font-family: "Lato";
  font-weight: 100;
}

#parallax__cont_06 .parallax__item:nth-child(even) .parallax__item__num {
  left: auto;
  right: -5vw;
}

#parallax__cont_06 .parallax__item__title {
  padding-bottom: 5px;
  font-weight: 400;
}

#parallax__cont_06 .parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#parallax__cont_06 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_06 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_06 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_06 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_06 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_06 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_06 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_06 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_06 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_06 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_06 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_06 .parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
}

#parallax__cont_06 .parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}

#parallax__cont_06 .split > span {
  display: inline-block;
}

#parallax__cont_07 {
  /* parallax__cont */
}

#parallax__cont_07 #parallax__cont {
  width: 100%;
}

#parallax__cont_07 .parallax__item {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#parallax__cont_07 .parallax__item__num {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1vw;
}

#parallax__cont_07 .parallax__item__imgWrap {
  width: 50%;
  margin-right: 30%;
  padding-bottom: 26.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#parallax__cont_07 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_07 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_07 .parallax__item__desc {
  font-size: 3vw;
  line-height: 1.4;
  margin-top: 10vw;
  margin-left: -4vw;
  margin-right: 2vw;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  word-break: keep-all;
}

#parallax__cont_07 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_07 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_07 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_07 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_07 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_07 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_07 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_07 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_07 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_08 {
  /* parallax__cont */
}

#parallax__cont_08 #parallax__cont {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
  /* background-color: rgba(255,255,255,0.1); */
}

#parallax__cont_08 .parallax__item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  /* background-color: rgba(255,255,255,0.3); */
  text-align: left;
  margin-right: 0;
  position: relative;
  padding-top: 15vw;
}

#parallax__cont_08 .parallax__item:nth-child(even) {
  margin-left: 0;
  text-align: right;
}

#parallax__cont_08 .parallax__item__num {
  font-size: 35vw;
  position: absolute;
  left: -5vw;
  top: -13vw;
  opacity: 0.07;
  font-family: "Lato";
  font-weight: 100;
}

#parallax__cont_08 .parallax__item:nth-child(even) .parallax__item__num {
  left: auto;
  right: -5vw;
}

#parallax__cont_08 .parallax__item__title {
  padding-bottom: 5px;
  font-weight: 400;
}

#parallax__cont_08 .parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#parallax__cont_08 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_08 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_08 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_08 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_08 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_08 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_08 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_08 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_08 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_08 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_08 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_08 .parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
}

#parallax__cont_08 .parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}

.parallax__progress_08 progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  appearance: none;
  width: 100%;
  height: 5px;
  border: none;
  background: transparent;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
  background-attachment: fixed;
}

progress::-moz-progress-bar {
  background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
  background-attachment: fixed;
}

#parallax__cont_09 {
  /* parallax__cont */
}

#parallax__cont_09 #parallax__cont {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
}

#parallax__cont_09 .parallax__item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  text-align: left;
  margin-right: 0;
  position: relative;
  padding-top: 15vw;
}

#parallax__cont_09 .parallax__item:nth-child(even) {
  margin-left: 0;
  text-align: right;
}

#parallax__cont_09 .parallax__item__num {
  font-size: 35vw;
  position: absolute;
  left: -5vw;
  top: -13vw;
  opacity: 0.07;
  font-family: "Lato";
  font-weight: 100;
}

#parallax__cont_09 .parallax__item:nth-child(even) .parallax__item__num {
  left: auto;
  right: -5vw;
}

#parallax__cont_09 .parallax__item__title {
  padding-bottom: 5px;
  font-weight: 400;
}

#parallax__cont_09 .parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#parallax__cont_09 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_09 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_09 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_09 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_09 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_09 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_09 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_09 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_09 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_09 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_09 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_09 .parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
}

#parallax__cont_09 .parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}

#parallax__nav_09 {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-radius: 50px;
}

#parallax__nav_09 li {
  list-style: none;
  display: inline;
}

#parallax__nav_09 li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  line-height: 30px;
}

#parallax__nav_09 li a.active {
  background: #fff;
  color: #000;
  border-radius: 50%;
}

#parallax__cont_10 {
  /* parallax__cont */
}

#parallax__cont_10 #parallax__cont {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
}

#parallax__cont_10 .parallax__item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  text-align: left;
  margin-right: 0;
  position: relative;
  padding-top: 15vw;
}

#parallax__cont_10 .parallax__item:nth-child(even) {
  margin-left: 0;
  text-align: right;
}

#parallax__cont_10 .parallax__item__num {
  font-size: 35vw;
  position: absolute;
  left: -5vw;
  top: -13vw;
  opacity: 0.07;
  font-family: "Lato";
  font-weight: 100;
}

#parallax__cont_10 .parallax__item:nth-child(even) .parallax__item__num {
  left: auto;
  right: -5vw;
}

#parallax__cont_10 .parallax__item__title {
  padding-bottom: 5px;
  font-weight: 400;
}

#parallax__cont_10 .parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#parallax__cont_10 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_10 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_10 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_10 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_10 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_10 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_10 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_10 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_10 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_10 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_10 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_10 .parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
  word-break: keep-all;
}

#parallax__cont_10 .parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}

#parallax__nav_10 {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-radius: 50px;
  text-align: center;
}

#parallax__nav_10 li {
  list-style: none;
  display: inline;
}

#parallax__nav_10 li a {
  display: inline-block;
  width: 80px;
  height: 30px;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  transition: all 0.3s;
}

#parallax__nav_10 li a.active {
  background: #fff;
  color: #000;
  border-radius: 30px;
}

#parallax__nav_10.is-active li a {
  width: 30px;
}

#parallax__cont_11 {
  /* parallax__cont */
}

#parallax__cont_11 #parallax__cont {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
}

#parallax__cont_11 .parallax__item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  text-align: left;
  margin-right: 0;
  position: relative;
  padding-top: 15vw;
}

#parallax__cont_11 .parallax__item:nth-child(even) {
  margin-left: 0;
  text-align: right;
}

#parallax__cont_11 .parallax__item__num {
  font-size: 35vw;
  position: absolute;
  left: -5vw;
  top: -13vw;
  opacity: 0.07;
  font-family: "Lato";
  font-weight: 100;
}

#parallax__cont_11 .parallax__item:nth-child(even) .parallax__item__num {
  left: auto;
  right: -5vw;
}

#parallax__cont_11 .parallax__item__title {
  padding-bottom: 5px;
  font-weight: 400;
}

#parallax__cont_11 .parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#parallax__cont_11 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_11 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_11 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_11 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_11 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_11 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_11 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_11 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_11 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_11 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_11 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_11 .parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
  word-break: keep-all;
}

#parallax__cont_11 .parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}

#parallax__nav_11 {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-radius: 50px;
  text-align: center;
}

#parallax__nav_11 li {
  list-style: none;
  display: inline;
}

#parallax__nav_11 li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  transition: all 0.3s;
}

#parallax__nav_11 li a.active {
  background: #fff;
  color: #000;
  border-radius: 30px;
}

#parallax__cont_12 {
  width: 900%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  /* parallax__cont */
  /* option */
}

#parallax__cont_12 .parallax__item {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parallax__cont_12 .parallax__item__num {
  font-size: 5vw;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: "Lato";
  font-weight: 100;
  z-index: 100;
}

#parallax__cont_12 .parallax__item__imgWrap {
  width: 30%;
  padding-bottom: 18%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#parallax__cont_12 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_12 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_12 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_12 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_12 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_12 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_12 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_12 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_12 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_12 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_12 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_12 #section1,
#parallax__cont_12 #section3,
#parallax__cont_12 #section5,
#parallax__cont_12 #section7,
#parallax__cont_12 #section9 {
  background-color: #111;
}

#parallax__cont_12 #parallax__cont {
  overscroll-behavior: none;
  width: 900%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  /* overflow: hidden; */
}

#parallax__cont_13 {
  /* parallax__cont */
  /* option */
}

#parallax__cont_13 .parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parallax__cont_13 .parallax__item__num {
  font-size: 5vw;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: "Lato";
  font-weight: 100;
  z-index: 100;
}

#parallax__cont_13 .parallax__item__imgWrap {
  width: 30%;
  padding-bottom: 18%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#parallax__cont_13 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_13 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_13 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_13 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_13 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_13 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_13 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_13 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_13 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_13 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_13 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_13 #section1,
#parallax__cont_13 #section3,
#parallax__cont_13 #section5,
#parallax__cont_13 #section7,
#parallax__cont_13 #section9 {
  background-color: #111;
}

#parallax__cont_13 #parallax__cont {
  overflow: hidden;
}

#parallax__cont_13 #horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
}

#parallax__cont_13 #horizontal > section {
  width: 100%;
}

#parallax__cont_14 {
  /* parallax__cont */
  /* option */
}

#parallax__cont_14 .parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parallax__cont_14 .parallax__item__num {
  font-size: 5vw;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: "Lato";
  font-weight: 100;
  z-index: 100;
}

#parallax__cont_14 .parallax__item__imgWrap {
  width: 30%;
  padding-bottom: 18%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#parallax__cont_14 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_14 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_14 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_14 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_14 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_14 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_14 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_14 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_14 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_14 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_14 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_14 #section1,
#parallax__cont_14 #section3,
#parallax__cont_14 #section5,
#parallax__cont_14 #section7,
#parallax__cont_14 #section9 {
  background-color: #111;
}

#parallax__cont_14 #parallax__cont {
  overflow: hidden;
}

#parallax__cont_14 #horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
}

#parallax__cont_14 #horizontal > section {
  width: 100%;
}

#parallax__cont_15 {
  /* parallax__cont */
}

#parallax__cont_15 #parallax__cont {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
}

#parallax__cont_15 .parallax__item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  text-align: left;
  margin-right: 0;
  position: relative;
  padding-top: 15vw;
}

#parallax__cont_15 .parallax__item:nth-child(even) {
  margin-left: 0;
  text-align: right;
}

#parallax__cont_15 .parallax__item__num {
  font-size: 35vw;
  position: absolute;
  left: -5vw;
  top: -13vw;
  opacity: 0.07;
  font-family: "Lato";
  font-weight: 100;
}

#parallax__cont_15 .parallax__item:nth-child(even) .parallax__item__num {
  left: auto;
  right: -5vw;
}

#parallax__cont_15 .parallax__item__title {
  padding-bottom: 5px;
  font-weight: 400;
}

#parallax__cont_15 .parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}

#parallax__cont_15 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}

#parallax__cont_15 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#parallax__cont_15 #section1 .parallax__item__img {
  background-image: url(./../img/images01@2.jpg);
}

#parallax__cont_15 #section2 .parallax__item__img {
  background-image: url(./../img/images02@2.jpg);
}

#parallax__cont_15 #section3 .parallax__item__img {
  background-image: url(./../img/images03@2.jpg);
}

#parallax__cont_15 #section4 .parallax__item__img {
  background-image: url(./../img/images04@2.jpg);
}

#parallax__cont_15 #section5 .parallax__item__img {
  background-image: url(./../img/images05@2.jpg);
}

#parallax__cont_15 #section6 .parallax__item__img {
  background-image: url(./../img/images06@2.jpg);
}

#parallax__cont_15 #section7 .parallax__item__img {
  background-image: url(./../img/images07@2.jpg);
}

#parallax__cont_15 #section8 .parallax__item__img {
  background-image: url(./../img/images08@2.jpg);
}

#parallax__cont_15 #section9 .parallax__item__img {
  background-image: url(./../img/images09@2.jpg);
}

#parallax__cont_15 .parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
  word-break: keep-all;
}

#parallax__cont_15 .parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}
