/* parallax__cont */
#parallax__cont_3 {
  overflow: hidden;
}
#parallax__cont_3 .parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#parallax__cont_3 #section2,
#parallax__cont_3 #section4,
#parallax__cont_3 #section6,
#parallax__cont_3 #section8 {
  background-color: #222;
}
#parallax__cont_3 .parallax__item__num {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 3vw;
  line-height: 1;
  z-index: 10;
}
#parallax__cont_3 .parallax__item__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}
#parallax__cont_3 .parallax__item__img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
#parallax__cont_3 #section1 .parallax__item__img {
  background-image: url(./imgs/images02@2.jpg);
}
#parallax__cont_3 #section2 .parallax__item__img {
  background-image: url(./imgs/images03@2.jpg);
}
#parallax__cont_3 #section3 .parallax__item__img {
  background-image: url(./imgs/images04@2.jpg);
}
#parallax__cont_3 #section4 .parallax__item__img {
  background-image: url(./imgs/images05@2.jpg);
}
#parallax__cont_3 #section5 .parallax__item__img {
  background-image: url(./imgs/images06@2.jpg);
}
#parallax__cont_3 #section6 .parallax__item__img {
  background-image: url(./imgs/images07@2.jpg);
}
#parallax__cont_3 #section7 .parallax__item__img {
  background-image: url(./imgs/images08@2.jpg);
}
#parallax__cont_3 #section8 .parallax__item__img {
  background-image: url(./imgs/images09@2.jpg);
}
#parallax__cont_3 #section9 .parallax__item__img {
  background-image: url(./imgs/images10@2.jpg);
}
#parallax__cont_3 .parallax__item__title {
  font-size: 5vw;
  z-index: 100;
  text-transform: uppercase;
  display: inline-block;
}
