#parallax__nav_9 {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-radius: 50px;
}
#parallax__nav_9 li {
  list-style: none;
  display: inline;
}
#parallax__nav_9 li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  line-height: 30px;
}
#parallax__nav_9 li a.active {
  background: #fff;
  color: #000;
  border-radius: 50%;
}

/* parallax__cont */
#parallax__cont_9 {
  max-width: 1600px;
  width: 98%;
  margin: 0 auto;
}
#parallax__cont_9 .parallax__item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw auto;
  text-align: left;
  margin-right: 0;
  position: relative;
  padding-top: 15vw;
}
#parallax__cont_9 .parallax__item:nth-child(even) {
  margin-left: 0;
  text-align: right;
}
#parallax__cont_9 .parallax__item__num {
  font-size: 35vw;
  position: absolute;
  left: -5vw;
  top: -13vw;
  opacity: 0.07;
  font-family: "Lato";
  font-weight: 100;
}
#parallax__cont_9 .parallax__item:nth-child(even) .parallax__item__num {
  left: auto;
  right: -5vw;
}
#parallax__cont_9 .parallax__item__title {
  padding-bottom: 5px;
  font-weight: 400;
}
#parallax__cont_9 .parallax__item__imgWrap {
  width: 100%;
  padding-bottom: 56.25%;
  background: #000;
  position: relative;
  overflow: hidden;
}
#parallax__cont_9 .parallax__item__img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}
#parallax__cont_9 .parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}
#parallax__cont_9 #section1 .parallax__item__img {
  background-image: url(./imgs/images01@2.jpg);
}
#parallax__cont_9 #section2 .parallax__item__img {
  background-image: url(./imgs/images02@2.jpg);
}
#parallax__cont_9 #section3 .parallax__item__img {
  background-image: url(./imgs/images03@2.jpg);
}
#parallax__cont_9 #section4 .parallax__item__img {
  background-image: url(./imgs/images04@2.jpg);
}
#parallax__cont_9 #section5 .parallax__item__img {
  background-image: url(./imgs/images05@2.jpg);
}
#parallax__cont_9 #section6 .parallax__item__img {
  background-image: url(./imgs/images06@2.jpg);
}
#parallax__cont_9 #section7 .parallax__item__img {
  background-image: url(./imgs/images07@2.jpg);
}
#parallax__cont_9 #section8 .parallax__item__img {
  background-image: url(./imgs/images08@2.jpg);
}
#parallax__cont_9 #section9 .parallax__item__img {
  background-image: url(./imgs/images09@2.jpg);
}
#parallax__cont_9 .parallax__item__desc {
  font-size: 4vw;
  line-height: 1.4;
  margin-top: -5vw;
  margin-left: -4vw;
  z-index: 100;
  position: relative;
}
#parallax__cont_9 .parallax__item:nth-child(even) .parallax__item__desc {
  margin-left: auto;
  margin-right: -4vw;
}
